// Primary Colors
$color-red: #FF5555;
$color-yellow: #FFB21E;
$color-green: #00BB8F;
$color-blue: #1125D6;

// Transparent Colors
$color-red-transparent: #ff555510;
$color-yellow-transparent: #FFB21E10;
$color-green-transparent: #00BB8F10;
$color-blue-transparent: #1125D610;


// Gradient Colors

//Gradient 1
$color-light-slate-blue: #6943FF;
$color-light-royal-blue: #2F2CE9;

//Gradient 2
$color-violet-blue: #4D21C9;
$color-persian-blue: #2421c900;

// Neutral Colors
$color-white: #ffffff;
$color-pale-blue: #ECF2FF;
$color-light-lavender: #CAC9FF;
$color-dark-gray-blue: #303B59;

// Box Shadow
$shadow-soft: 0 30px 60px 0 #3D6CEC15;

