@use '../utils/' as u;

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-block-start: clamp(u.rem(24), 1.0535714285714286rem + 1.9047619047619047vw, u.rem(38));
    padding-block-end: clamp(u.rem(40), 2.308673469387755rem + 0.8163265306122448vw, u.rem(46));
    background-image: linear-gradient(u.$color-light-slate-blue, u.$color-light-royal-blue);
    border-end-start-radius: u.rem(32);
    border-end-end-radius: u.rem(32);
    padding-inline: u.rem(58);

    @include u.breakpoint(medium) {
        max-inline-size: 368px;
        border-radius: 32px;
    }

    &__title {
        color: u.$color-light-lavender;
    }

    &__score {
        display: flex;
        flex-direction: column;
        inline-size: clamp(8.75rem, 6.836734693877551rem + 8.16326530612245vw, 12.5rem);
        block-size: clamp(8.75rem, 6.836734693877551rem + 8.16326530612245vw, 12.5rem);
        background-image: linear-gradient(u.$color-violet-blue, u.$color-persian-blue);
        border-radius: 50%;
        text-align: center;
        padding-block-start: clamp(1.5625rem, 0.6058673469387756rem + 4.081632653061225vw, 3.4375rem);

    }

    &__score-number {
        display: flex;
        justify-content: center;
        align-items: center;
        block-size: 72px;
        color: u.$color-white;
    }

    &__score-max {
        color: u.$color-pale-blue;
        opacity: .51;
    }

    &__message {
        text-align: center;
    }

    &__message-title {
        color: u.$color-white;
    }
    &__message-text {
        color: u.$color-light-lavender;
    }
}