@use '../utils/' as u;

.results-component {
    display: grid;
    background-color: u.$color-white;

    @include u.breakpoint(medium) {
        grid-template-columns: auto 1fr;
        inline-size: 736px;
        border-radius: 32px;
        box-shadow: u.$shadow-soft;

    }
}