@use '../utils' as u;
body {
    min-block-size: 100vh;
    inline-size: 100%;
    display: flex;
    justify-content: center;
    background-color: u.$color-pale-blue;

    @include u.breakpoint(medium) {
        align-items: center;
    }
}
