@font-face {
    font-display: swap;
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/static/hanken-grotesk-v8-latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/static/hanken-grotesk-v8-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 800;
    src: url('/assets/fonts/static/hanken-grotesk-v8-latin-800.woff2') format('woff2')
}