@use '../utils/' as u;

body {
    font-family: 'Hanken Grotesk', serif;
    font-size: 100%;
    line-height: 1.5;
}

h2 {
    font-size: clamp(u.rem(24), 1.2448979591836735rem + 1.0884353741496597vw, u.rem(32));
    font-weight: 700;
}

p,
span {
    font-size: clamp(u.rem(16), 0.9362244897959183rem + 0.27210884353741494vw, u.rem(18));
    font-weight: 500;
}

button
,button > * {
    font-size: u.rem(18);
    font-weight: 700;
}

.results__title,
.summary__title {
    font-size: clamp(u.rem(18), 0.9336734693877551rem + 0.8163265306122448vw, u.rem(24));
    font-weight: 700;
}

.results__score-number {
    font-size: clamp(u.rem(56), 2.989795918367347rem + 2.1768707482993195vw, u.rem(72));
    font-weight: 800;
    line-height: 1;
}

.results__score-max,
strong {
    font-weight: 700;
    line-height: 1.3125;
}